<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/baab9bffc5.js" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <title>LeetCode Question Filter</title>
  </head>
  <body>
    <h1 align='center' style="margin-top: 20px; margin-bottom: 20px;"> LeetCode Question Filter </h1>
    
    <form class="row g-3">

        <div class="col"> 
          <div class="input-group">
            <div class="input-group-text">PaidOnly</div>
            <select class="form-select form-select-sm" id="paidonly">
              <option selected value="-1">Any</option>
              <option value="1" >Yes</option>
              <option value="0" >No</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Difficulty</div>
              <select class="form-select form-select-sm" id="difficulty" >
                <option selected value="null">Any</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
          </div>
        </div>
        
        <div class="col">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" id="likesDesc">Likes</button>
            <input type="text" class="form-control form-control-sm" id="likes">
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" id="dislikesDesc">Dislikes</button>
            <input type="text" class="form-control form-control-sm" id="dislikes">
          </div>
        </div>
        
        <div class="col">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" id="acsDesc">Acs</button>
            <input type="text" class="form-control form-control-sm" id="acs">
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" id="submitsDesc">Submits</button>
            <input type="text" class="form-control form-control-sm" id="submits">
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" id="acsrateDesc">AcsRate</button>
            <input type="text" class="form-control form-control-sm" id="acsrate">
          </div>
        </div>

        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Numbers</div>
            <input type="text" class="form-control form-control-sm" id="limits">
          </div>
        </div>

        <button type="button" class="btn btn-danger col" id="refresh">RefreshDB</button>
      </form>

    <div id="replacement" style="margin-top: 20px;"></div>
    
    <script>
      $(document).ready(function(){

        data = { 
          "paidonly" : -1,
          "likes" : 0,
          "likesdesc" : 1,
          "dislikes" : 0,
          "dislikesdesc": 1,
          "difficulty" : "null",
          "acs" : 0,
          "acsdesc" : 1,
          "submits" : 0,
          "submitsdesc" : 1,
          "acsrate" : 0,
          "acsratedesc" : 1,
          "descitem" : "likes",
          "limits" : 10
        };
        
        $("#paidonly").change(function(e){
          data['paidonly'] = $('#paidonly').val();
          $.ajax({
              url: "{{ url_for('filter') }}",
              type: 'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail"); }
          });
        });

        $("#likes").change(function(e){
          data['likes'] = $('#likes').val();
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });

        $("#likesDesc").click(function(e){
          if(data['likesdesc'] == 1) {data['likesdesc'] = 0;}
          else {data['likesdesc'] = 1};
          data['descitem'] = "likesdesc";
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });
        
        $("#dislikes").change(function(e){
            data['dislikes'] = $('#dislikes').val();
            $.ajax({
              url: "{{ url_for('filter') }}",
                type:'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail");}
              })
        });

        $("#dislikesDesc").click(function(e){
          if(data['dislikesdesc'] == 1) {data['dislikesdesc'] = 0;}
          else {data['dislikesdesc'] = 1};
          data['descitem'] = "dislikesdesc";
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });

        $("#difficulty").change(function(e){
            data['difficulty'] = $('#difficulty').val();
            $.ajax({
                url: "{{ url_for('filter') }}",
                type: 'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail"); }
            });
        });

        $("#acs").change(function(e){
            data['acs'] = $('#acs').val();
            $.ajax({
                url: "{{ url_for('filter') }}",
                type: 'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail"); }
            });
        });

        $("#acsDesc").click(function(e){
          if(data['acsdesc'] == 1) {data['acsdesc'] = 0;}
          else {data['acsdesc'] = 1};
          data['descitem'] = "acsdesc";
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });

        $("#submits").change(function(e){
            data['submits'] = $('#submits').val();
            $.ajax({
                url: "{{ url_for('filter') }}",
                type: 'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail"); }
            });
        });

        $("#submitsDesc").click(function(e){
          if(data['submitsdesc'] == 1) {data['submitsdesc'] = 0;}
          else {data['submitsdesc'] = 1};
          data['descitem'] = "submitsdesc";
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });

        $("#acsrate").change(function(e){
            data['acsrate'] = $('#acsrate').val();
            $.ajax({
                url: "{{ url_for('filter') }}",
                type: 'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail"); }
            });
        });

        $("#acsrateDesc").click(function(e){
          if(data['acsratedesc'] == 1) {data['acsratedesc'] = 0;}
          else {data['acsratedesc'] = 1};
          data['descitem'] = "acsratedesc";
          $.ajax({
            url: "{{ url_for('filter') }}",
              type:'POST',
              data: data,
              success:function(reponse){ $('#replacement').html(reponse); },
              error:function(e){ alert("Fail");}
            })
        });

        $("#limits").change(function(e){
            data['limits'] = $('#limits').val();
            $.ajax({
                url: "{{ url_for('filter') }}",
                type: 'POST',
                data: data,
                success:function(reponse){ $('#replacement').html(reponse); },
                error:function(e){ alert("Fail"); }
            });
        });
     
        $('#refresh').click(function(e){
          $.ajax({
                url: "{{ url_for('refresh') }}",
                type: 'GET',
                data: data,
                success:function(reponse){},
                error:function(e){ alert("Fail"); }
            });
        });
       });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>